- url = ""
- version = "?v1.0.0"

block setting

doctype html
html(lang='ja' prefix="og: http://ogp.me/ns#")
  head
    meta(charset='utf-8')
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content= description)
    link(href= url + canonical, rel='canonical')
    meta(property='og:locale', content='ja_JP')
    meta(property='og:type', content="website")
    meta(property='og:title', content= title)
    meta(property='og:description', content= description)
    meta(property='og:site_name', content= title)
    link(href='./css/common.css' + version, rel='stylesheet', media='all')
    script(src="./js/common.js" + version, defer)
  body#body(class= currentPage)
    a.hidden(href="#main") 本文へスキップ
    main.c-main.main#main
      block main
