extends ./layouts/index.pug

block setting
  - rootPath = "./"
  - currentPage = "index"

  - title = "Sadahisa Hiroki"
  - canonical = ""
  - description = ""
  - type = "website"
  
//- ////////////////////

block main
  h1.js-target-element
    em.tracking-widest Sadahisa Hiroki
    span とにかくCSSに明るいマークアップエンジニアです。
  .container
    nav.nav 
      h2.hidden サイト内ナビゲーション
      ul.nav__list
        li.nav__list-item.js-blur-element 
          a(href="#profile") Profile
        li.nav__list-item.js-blur-element 
          a(href="#lang") Language  
        li.nav__list-item.js-blur-element 
          a(href="#works") Works
        li.nav__list-item.js-blur-element 
          a(href="#interest") Interest  
        //- li.nav__list-item.js-blur-element 
          a(href="#contact") Contact  
    .sec__wrapper
      section
        h2.js-blur-element#profile  
          | Profile
          span 略歴 
        .stack-sm
          p.js-blur-element 
            | 大学卒業後、紆余曲折を経て大阪のデザイン会社に就職。以後10年間、Webサイトのマークアップ・フロントエンド・CMS実装を担当。
          p.js-blur-element 
            | マークアップとCSSが好きです。
      section
        h2.js-blur-element#lang  
          | Language
          span 使用言語・ツールなど
        dl 
          div.js-blur-element 
            dt
              | 言語 
            dd
              | HTML/Pug
            dd
              | CSS/Sass
            dd
              | JavaScript
          div.js-blur-element 
            dt
              | JSフレームワーク
            dd
              | Vue.js
          div.js-blur-element 
            dt
              | CMS
            dd
              | WordPress
          div.js-blur-element 
            dt
              | タスクランナー
            dd
              | Gulp
            dd
              | Webpack
          div.js-blur-element 
            dt
              | その他
            dd
              | Visual Studio Code
            dd
              | SourceTree
            dd
              | Adobe XD/Photoshop
      section 
        h2.js-blur-element#works
          | Works
          span これまでの仕事
        p.js-blur-element  
          | 百貨店の催事特設ページや衣料品のブランドサイト(CSS/JSを使ったインタラクションやアニメーションの実装)、小規模(Max100ページほど)なコーポレートサイト(静的もしくはWordPressでのテーマ開発)、その他LPページを制作しています。
      section 
        h2.js-blur-element#interest 
          | Interest
          span 興味のあること
        ul 
          li.js-blur-element
            | デザインをブラウザ上に実装する過程全般。
          li.js-blur-element 
            | Webサイトにおけるデザインの規則性、整合性について考え実装する過程全般。
          li.js-blur-element 
            | Webらしいデザインについて考えること。
