////////////////////
//
// base
//
////////////////////
@font-face {
  font-family: "MyYuGothic";
  font-weight: 500;
  src: local("YuGothic-Medium"), local("Yu Gothic Medium"), local("YuGothic-Regular"), local("游ゴシック");
}

html {
  font-family: MyYuGothic, YuGothic, -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.6;
  color: #333;
  box-sizing: border-box;
  font-size: 62.5%;
  // &:before {
  //   @include pseudo;
  //   @include center;
  //   position: fixed;
  //   z-index: 100;
  //   width: 1px;
  //   height: 100vh;
  //   background-color: rgba(0, 0, 0, .1);
  // }
}

body {
  width: 100%;
  font-size: 1.4rem;
  // @media screen and (max-width: 767px) {
  //   &:before {
  //     @include pseudo;
  //     @include center;
  //     position: fixed;
  //     z-index: 100;
  //     width: 1px;
  //     height: 100vh;
  //     background-color: rgba(0, 0, 0, .1);
  //     margin-left: 30vw/640*100;
  //   }
  //   &:after {
  //     @include pseudo;
  //     @include center;
  //     position: fixed;
  //     z-index: 100;
  //     width: 1px;
  //     height: 100vh;
  //     background-color: rgba(0, 0, 0, .1);
  //     margin-right: 30vw/640*100;
  //   }
  // }
  // @media print, screen and (min-width: 768px) {
  //   &:before {
  //     @include pseudo;
  //     @include center;
  //     position: fixed;
  //     z-index: 100;
  //     width: 1px;
  //     height: 100vh;
  //     background-color: rgba(0, 0, 0, .1);
  //     left: -970px;
  //   }
  //   &:after {
  //     @include pseudo;
  //     @include center;
  //     position: fixed;
  //     z-index: 100;
  //     width: 1px;
  //     height: 100vh;
  //     background-color: rgba(0, 0, 0, .1);
  //     right: -970px;
  //   }
  // }
}

@media print, screen and (min-width: 768px) {
  .c-main {
    // min-width: 970px;
  }
  body {
    display: table;
    table-layout: fixed;
  }
}

// h1 {
//   font-size: 1.5rem;
// }
// h2 {
//   font-size: 1.25rem;
// }
// h3 {
//   font-size: 1.125rem;
// }

// h1, h2, h3 {
//   + p {
//     margin-top: 0;
//   }
// }

// * + p {
//   margin-top: 1em;
// }

em, strong {
  font-style: normal;
  font-weight: bold;
}

small, sup {
  display: inline-block;
  font-size: .86em;
}

//
// ul,ol,dl
//
//
ul, dl, ol {
  list-style-type: none;
  padding: 0;
}


//
// img
//
//
img {
  width: 100%;
  height: auto;
}

// @media screen and (max-width: 767px) {
// }
@media screen and (min-width: 768px) {
  img {
    max-width: 100%;
    width: auto;
  }
}

//
// a
//
//
a {
  color: #000;
  border-bottom: 1px dashed;
  &:hover, &:focus, &:active, {
    border: none;
  }
}
