////////////////////
//
// base
//
////////////////////

//
// font
//
//
@font-face {
  font-family: "MyYuGothic";
  font-weight: 500;
  src: local("YuGothic-Medium"), local("Yu Gothic Medium"), local("YuGothic-Regular"), local("游ゴシック");
}

html {
  font-family: MyYuGothic, YuGothic, -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.6;
  color: #fff;
  box-sizing: border-box;
  font-size: 75%;
  background-color: #000;
}
body {
  width: 100%;
}
@media print, screen and (min-width: 768px) {
  body {
    display: table;
    table-layout: fixed;
  }
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}

p {
  margin-top: 1rem;
}

em {
  font-style: normal;
  font-weight: bold;
}

small {
  font-size: .86rem;
}

//
// ul,ol,dl
//
//
ul, dl, ol {
  list-style-type: none;
  padding: 0;
}

table {
  th, td {
    text-align: left;
    vertical-align: top;
  }
}

//
// img
//
//
img {
  width: 100%;
  height: auto;
}
@media print, screen and (min-width: 768px) {
  img {
    max-width: 100%;
    width: auto;
  }
}

//
// a
//
//
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transition: opacity .2s;
  img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  &:hover, &:active, &:focus {
    opacity: .8;
  }
}
