////////////////////
//
// helper
//
////////////////////
@media print, screen and (min-width: "41em") {
  .sp {
    display: none !important;
  }
}

@media screen and (max-width: 40em) {
  .pc {
    display: none !important;
  }
}

.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  width: 1px;
  height: 1px;
}
