////////////////////
//
// helper
//
////////////////////
@media print, screen and (min-width: 768px) {
  .sp {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .pc {
    display: none;
  }
}

.mb0 {
  margin-bottom: 0 !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mtHalf {
  margin-top: .5em !important;
}

.text-align-center {
  text-align: center !important;
}

.hidden {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
}
