////////////////////
//
// mixin
//
////////////////////
@mixin sp {
  @media screen and (max-width: 767px) {
    @content;
  }
}
@mixin pc {
  @media print, screen and (min-width: 768px) {
    @content;
  }
}

// 中央寄せ
@mixin center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

// 擬似要素
@mixin pseudo {
  content: '';
  display: inline-block;
}

// flex
@mixin df {
  display: flex;
  flex-wrap: wrap;
}

@mixin square($w: 1rem, $h: 1rem, $line: 1px, $c: #000) {
  @include pseudo;
  border: $line solid $c;
  // transform: rotate(45deg);
  width: $w;
  height: $h;
}
