////////////////////
//
// mixin
//
////////////////////
// 中央寄せ
@mixin center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

// 擬似要素
@mixin pseudo {
  content: '';
  display: inline-block;
}

// flex
@mixin df {
  display: flex;
  flex-wrap: wrap;
}
