.js-blur-element {
  transition: filter 0.6s;
}
.js-blur-element.is-blur {
  filter: blur(2px);
}

h1 {
  position: sticky;
  top: 0;
  width: fit-content;
  span {
    font-size: 1.4rem;
    display: block;
  }
}
@include pc {
  h1 {
    top: $s1;
  }
}

.nav {
  margin-block-start: $s2;
  &__list {
    line-height: 1.4;
    font-size: 2rem;
    a {
      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }
    }
  }
}
@include pc {
  .nav {
    position: sticky;
    top: 5.598rem + 5;
    width: fit-content;
    margin-block-start: 0;
  }
}

.container {
  > * + * {
    margin-top: $s4;
  }
}

.sec__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: $s4 0;
  padding-bottom: $s7;
}
@include pc {
  .sec__wrapper {
    width: calc(100% - 10.09rem - var(--s5));
    margin: -10vw 0 0 auto;
    gap: $s6;
    align-items: flex-start;
  }
}

h2 {
  span {
    font-size: 1.2rem;
    margin-inline-start: $s0;
  }
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: $s1 0;
  h2 {
    width: 100%;
  }
  dl {
    width: 100%;
    > * + * {
      margin-top: $s0;
    }
    dd {
      margin-left: 1em;
      &::before {
        content: "-";
        margin-right: 0.5em;
      }
    }
  }

  ul {
    > * + * {
      margin-top: $s-3;
    }
    li {
      text-indent: -1em;
      padding-left: 1em;
      &::before {
        content: "-";
        margin-right: 0.5em;
      }
    }
  }
}
@include pc {
  section {
    max-width: 35em;
    dl {
      display: flex;
      flex-wrap: wrap;
      gap: $s3 $s4;
      > * + * {
        margin-top: 0;
      }
    }
  }
}

.stack-sm {
  > * + * {
    margin-top: $s0;
  }
}
