
//
// .main
//
//
.main {
  @include df;
  align-items: center;
  // height: 100vh;

  // padding: 1rem;
  position: relative;

  &__inner {
    position: relative;
    z-index: 1;
    padding: 1rem;
  }

  &__canvas {
    position: fixed;
    top: 0;
    left: 0;
  }
  @media print, screen and (min-width: 768px) {
    height: 100vh;

    &__inner {
      padding: 2rem;
      width: 600px;
      margin: 0 auto;
    border: 4px solid  #fff;
    }
  }
}

//
// .lead
//
//
.lead {
  &__txt {
    margin-top: 0;
    padding: 0 1rem 2rem;
    font-size: 13vw;
  }
}

//
// .sec
//
//
.sec {
  margin-top: 2rem;

  &__lists {
    margin-top: .5rem;
    p {
      margin-top: 0;
      margin-left: 1rem;
    }
  }
  &__list {
    + li {
      margin-top: 1rem;
    }

    &:before {
      content: "○";
      display: inline-block;
    }
  }

  &__child-lists {
    margin-left: 1rem;
  }
  &__child-list {

    &:before {
      content: "・";
      display: inline-block;
    }
  }

  &__txt {
    margin-top: 2rem;
  }
}